# Ignore WordPress core files (if you're using Composer to manage WordPress)
wp/*
!wp/wp-content/
.env

# Ignore wp-content except for themes and plugins
wp-content/*
!wp-content/themes/
!wp-content/plugins/

# Ignore uploads
wp-content/uploads/

# Ignore specific files in wp-content
wp-content/advanced-cache.php
wp-content/wp-cache-config.php

# Ignore wp-config.php if you don't want to track sensitive information
nginx.conf

# Ignore cache files
*.log
*.cache

# Ignore backup files
*.sql
*.tar.gz
*.zip

# Ignore node_modules (if you are using Node.js)
node_modules/

# Ignore vendor directory (if using Composer)
vendor/

# Ignore SFTP config files
*.sftp

# Ignore IDE or editor config files
.vscode/
.idea/